<footer>
    <hr>
    <div class="row">
        <div class="col four">
            <ul>
                <li>Kontakt</li>
                <li>Ostron</li>
                <li>Jens Kofot</li>
            </ul>
        </div>

        <div class="col four">
            <ul>
                <li>Kontakt</li>
                <li>Ostron</li>
                <li>Jens Kofot</li>
            </ul>
        </div>

        <div class="col four">
                
        </div>

        <div class="col four">
                
        </div>
    </div>
</footer>