<footer>
    <hr>
    <div class="row">
        <div class="col four">
            <h4>Kontakt</h4>
            <ul>
                <li>mickeejsing@gmail.com</li>
                <li>070 769 9270</li>
            </ul>
        </div>

        <div class="col four">
            <h4>Sociala medier</h4>
            <ul>
                <li>Github</li>
                <li>Instagram</li>
            </ul>
        </div>

        <div class="col four">
        </div>

        <div class="col four">
                
        </div>
    </div>
</footer>