<footer>
    <hr>
    <div class="row">
        <div class="col four">
            <h4>Kontakt</h4>
            <ul>
                <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                <li>070 769 9270</li>
            </ul>
        </div>

        <div class="col four">
            <h4>Sociala medier</h4>
            <ul>
                <li><a href="https://github.com/{{ site.github_username| cgi_escape | escape }}">Github</a></li>
                <li>Instagram</li>
            </ul>
        </div>

        <div class="col four">
        </div>

        <div class="col four">
                
        </div>
    </div>
</footer>