---
layout: theme
title: About
---
<div class="row space">
        <div class="col one">
            <h2>Lite om mig</h2>
        </div>
</div>

<div class="row">
    <div class="col two">
        <p>Hej! Mitt namn är Mikael Eriksson. Jag pluggar första året på programmet Webbprogrammering i Kalmar. Jag har alltid haft intresse för design, varför jag först sökte mig till Malmö för att studera. I Malmö insåg jag att programmering var fantastiskt kul, men att min dåvarande utbildning inte innehöll särskillt mycket programmering. Så, därför hamnade jag till sist i Kalmar. Jag bor i Kalmar tillsammans med min flickvän. Hon kommer från Gotland och jag från Emmaboda. Kalmar blev därför en bra plats. Nära till båda. Vi har bott här i snart 2 år. Att hajka är ett stort intresse, även fast det inte blir så ofta. Det är fantastiskt att byta miljö för några dagar. Jag tycker också om att spela musik. Framförallt piano. Jag, tillsammans med min bästa kompis har ett dansband tillsammans, La Venuz. Musiken är ganska skämtsam och oseriös, men ibland lite mer seriös.</p>
    </div>

    <div class="col two">
        <img class="fit" src="/images/jagoblommor.jpg" alt="En bild på mig.">
    </div>
</div>

<div class="row">
    <div class="col one">
        <h2>Frågor och svar</h2>
    </div>
</div>

<div class="row">
        <div class="col two">
    
            <p class="question">- Vad tycker jag om för filmer?</p>

            <p>Väldigt blandat. Just nu tycker jag väldigt mycket om Harry Potter-filmerna. Annars tycker jag väldigt mycket om skräck och thrillers.</p>

            <p class="question">- Vilken årstid är bäst?</p>

            <p>Jag tycker bäst om sommaren. Det är så skönt att kunna vara utomhus, utan att frysa. Men jag tycker även om de andra årstiderna. Det är mysigt med mörkret.</p>
            
            <p class="question">- Vart vill jag resa?</p>
            
            <p>Jag skulle vilja åka till Island någon gång. Vandra omkring i den fina naturen, bada i varma källor och så vidare. Jag skulle även vilja tågluffa en sommar.</p>
        </div>
    
        <div class="col two">

            <p class="question">- Vilken är min favorithemsida?</p>

            <p>Svårt. Det finns många bra, men Unsplash.com är en fantastiskt bra webbplats, där man kan ladda ned högupplösta royaltyfria bilder.</p>

            <p class="question">- Vad är mitt drömyrke?</p>

            <p>Jag skulle gärna vilja arbeta med webbdesign i framtiden, men också med bakomliggande funktionallitet. Det hade varit kul att någon gång skapa något eget.</p>

            <h2>Tack för titten</h2>
            <p>Det var lite om mig. På den här webbplatsen kommer jag att lägga upp saker och ting som jag gör under utbildningen. Kanske till och med lite som en blogg. Kolla gärna runt på de resterande sidorna. Där kan du bland annat hitta inlägg, skriva kommentarer och hitta mina kontaktuppgifter. Ha en bra dag!</p>
        </div>
    </div>